

.tool-box,
.testimonials .carousel-indicators li.active{
    border: 3px solid rgb(59, 255, 157);
}
.navbar-nav > li > .dropdown-menu{
    border-top: 3px solid   rgb(59, 255, 157);
}

.tool-box .glyphicon,
li.active a ,
.dropdown-menu > li > a:hover,
.dropdown-menu .divider,
.carousel-indicators .active {
    background-color:  rgb(59, 255, 157)!important;
}

.navbar-default .navbar-brand span,
.about h1 span,
.footer .h3,
.footer .copyright span,
.testimonials span,
.scroll-to-tob::after{
    color:  rgb(59, 255, 157)
}
